doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet",href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Noom 
        main
            div#welcome    
                form
                    input(placeholder="room name", required, type="text")
                    button Enter Room
            div#room
                h3#rooName
                ul
                    form(action="") 
                        input(placeholder="Message", required, type="text")
                        button Send
        //- ⭐ 진짜 중요 포인트이다 Client에서도 SocketIO를 불러와 설치해야함!!
        script(src="/socket.io/socket.io.js")    
        script(src="/public/js/app.js")